<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.soa.examsystem.dao.ExamRoomDao">
	<select id="findAllExaminPaper" resultType="map">
		select * from (select * from (select rownum rn,EXAM_ID,EXAM_NAME from questionbank_examination_paper) 
		where rownum<![CDATA[<=]]>#{1}) where rn<![CDATA[>=]]>#{0}
	</select>
	<select id="findTotalCount" resultType="int">
		select count(*) from questionbank_examination_paper
	</select>
</mapper>












