<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.soa.cloudnote.dao.NoteDao">
	<select id="showNoteNames" parameterType="string"  resultType="cn.soa.cloudnote.entity.Note">
		select 
			cn.*
		from
			cn_note cn left join cn_notebook cnb
			on cn.cn_notebook_id=cnb.cn_notebook_id
		where 
			cnb.cn_notebook_name=#{notebookName}
	</select>
</mapper>